p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}
a{
    display: block;
}

button{
    background-color: skyblue;
    color: whitesmoke;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
}
img {
    align-items: center;
    box-sizing: border-box;
    display: block;
    height: 580px;
    width: 420px;
}
img{
    height: =400px;
    width=580px;
}
h2{
    align-self: center;
    font-weight: bolder;
    font-style: italic;
}